.uploaderCard {
    background-color: white;
    margin: 0 auto;
    margin-right: 128px;
    width: 1240px;
    height: 167px;

    display: flex;
    justify-content: space-between;


    .likeAndCommentBtnsContainer,
    .uploaderInfoContainer, 
    .descriptionContainer {
        width: 33%;
        height: 100%;
    }

    .likeAndCommentBtnsContainer {
        display: flex;
        flex-direction: column;
        
        .likesContainer,
        .commentsContainer {
            width: 100%;
            height: 50%;
        }

        .likesContainer {
            display: flex;
            align-items: center;
           

            .favBtns {
              width: 40px;
              display: flex;
              flex-direction: column;
              margin-left: 20px;
            }

            .favBorderBtn,
            .favFilledBtn {
                cursor: pointer;
            }
            
            .favBorderBtn {
                color: black;
            }
            
            .favFilledBtn {
                color: red;
            }

            h4 {
                margin-left: 3px;
                color:#6d6b6b;

                &:hover {
                    cursor: pointer;
                    color:black;
                }
            }
        }
     
    }

    .uploaderInfoContainer{
        display: flex;
        justify-content: space-evenly;

        .userImgContainer {
            width: 12%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                max-width: 122px;
                max-height: 122px;
                border-radius: 110px;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .userInfoContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .title {
                text-decoration: none;
                font-size: 28px;
                color: #6d6b6b;
    
                &:hover {
                    color: black;
                }
            }
        }
    }

}

.likedUserProfiles {
    width: 408px;
    height: 431px;
    z-index: 4;
    position: absolute;
    top: 145px;
    left: 471px;
    background-color: white;
    border-radius: 14px;
    overflow: auto;

    background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(193,219,249,1) 100%);

    .userLikesList {
        margin: 0;
        padding: 0;
        padding-left: 24px;
        list-style-type:none;

        .userLikeCard {
            display: flex;
            align-items: center;
            padding-bottom: 25px;
            width: 360px;

            img,
            h5 {
                cursor: pointer;
            }

            img {
                max-width: 80px;
                max-height: 80px;
                border-radius: 50px;
            }

            h5 {
                margin-left: 20px;
                overflow-wrap: break-word;
            }
        }
    }

    .closeBtnContainer {
        padding-top: 10px;
        padding-right: 5px;
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        svg {
            &:hover {
                cursor: pointer;
            }
        }
    }
}