.divWrap {
    padding-top: 50px;
    height: 450px;
    background: #f2f2f2;
    display: flex;
    align-items: row;
}

.asideDiv {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 325px;
    margin-left: 45px;
}

.titleDiv::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-image: linear-gradient( 90deg, #7d01a1, #f30 50%, #f50);
    margin-top: 15px;
}

.titleDiv {
    width: 350px;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    line-height: 1.2;
    font-size: 36px;
    margin-bottom: 17px;
    color: #333;
}

.details {
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 24px;
    font-weight: 100;
    margin: 0 0 10px;
    color: #333;
    width: 350px;
}

.bottomDiv {
    margin-top: 28px;
}

.appStore {
    width: 135px;
    margin-right: 4px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

.googlePlay {
    width: 115px;
    margin-right: 4px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}