.trackContainer {
    background: linear-gradient(135deg, rgb(137, 133, 139) 0%, rgb(33, 45, 59) 100%);
    width: 1240px;
    height: 380px;
    margin: 0 auto;
    display: flex;


    .leftSideContainer {
        width: 70%;
        height: 100%;
        margin-right: 28px;
        padding-left: 12px;
        border: 2px solid red;
    }

    .imageContainer {
        width: 30%;
        height: 100%;
        display: flex;
        padding: 15px;

        img {
            max-width: 100%;
            max-height: 100%;   
        }

    }

    .playNameDateContainer {
        border: 2px solid pink;
        width: 100%;
        height: 100px;
        margin-top: 25px;
        display: flex;

        .playContainer {
            width: 12%;
            display: flex;
            justify-content: center;
            align-items: center;


            .playBtnSpan {
                width: 30px;
                height: 30px;
                background-color: white;
                position: absolute;
            }
            
            .playBtn {
                z-index: 1;
                color: #f50;
                height: 75px;
                width: 135px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .nameContainer {
            width: 68%;
            overflow-wrap: break-word;
           
            .author,
            .title {
                background-color: black;
                padding: 4px;
            }

            .authorContainer {
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .author {
                font-size: medium;
                color: #ccc;
                

                &:hover {
                    cursor: pointer;
                    color: white;
                }
            }

            .title {
                font-size: large;
                color: white;
            }



        }

        .dateContainer {
            display: flex;
           justify-content: flex-end;
            width: 20%;
            color: white;

            p {
                margin-top: 20px;
            }
        }
    }

    .audioPlayer {
        border: 2px solid green;
        height: 120px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        color: white;

        .timeSpansContainer {
            display: flex;
            font-weight: bold;
        }
        
    }

    
}