.header {
    background: #333;
    font-family: Interstate, Lucida Grande, Arial, sans-serif;
    font-weight: 100;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    height: 46px;
    transition: height .2s ease-in-out;
    position: fixed;
    color: #999;
    z-index: 10;
}

.divWraper {
    margin: 0 53px;
    display: flex;
    flex-direction: row;
}

.headerLogo {
    background: linear-gradient(#f70, #f30);
    width: 184px;
    height: 46px;
    display: flex;
    flex-direction: row;
}

.logo {
    color: transparent;
    background: transparent url('./Logo.png') no-repeat 12px 11px;
    background-size: 48px 22px;
    height: 46px;
    width: 69px;
    text-decoration: none;
    color: white;
    display: block;
}

.afterLogo {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top: 11px;
    text-align: center;
}

.afterLogo:hover {
    text-decoration: none;
    color: white;
}

.navUl {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    margin: 0;
}

.li {
    position: relative;
}

.navLinks {
    color: #999;
    text-decoration: none;
    display: block;
    padding: 12px 0;
    width: 104px;
    height: 46px;
    border-right: 1px solid #111;
    box-sizing: border-box;
    text-align: center;
}

.navLinks:hover {
    text-decoration: none;
    color: whitesmoke;
}

.form {
    padding: 9px 10px 8px;
    position: relative;
    appearance: none;
    color: #999;
}

.input {
    color: #666;
    outline: 0;
    border: 0;
    padding: 5px 7px;
    background: #e5e5e5;
    box-sizing: border-box;
    height: 28px;
    width: 400px;
    transition: all .3s ease-in-out;
    display: inline-block;
    font-weight: 100;
    font-size: 14px;
    border-radius: 4px;
    margin: 0;
}

.submit {
    float: left;
    border: 0;
    padding: 0;
    background: url(https://a-v2.sndcdn.com/assets/images/search-dbfe5cbb.svg) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 15px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    margin: 0;
}

.headerRight {
    display: flex;
    flex-direction: row;
}

.singIn {
    background-color: transparent;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    height: 26px;
    margin: 10px;
    padding: 2px 11px 2px 10px;
    border: 1px solid #666;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.singIn:hover {
    border-color: white;
    text-decoration: none;
    color: #fff;
}

.createAccount {
    text-decoration: none;
    margin-left: 8px;
    transition: opacity .2s linear;
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    display: inline-block;
    position: relative;
    height: 26px;
    margin: 10px;
    padding: 2px 11px 2px 10px;
    border: 1px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.createAccount:hover {
    text-decoration: none;
    color: #fff;
}