.divWraper {
    position: relative;
    height: 350px;
    background-color: #141414;
    background-image: url(Background.jpg);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0 570px 0 70px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.insideDiv {
    max-width: 520px;
}

.title {
    font-size: 36px;
    color: white;
}

.details {
    font-size: 24px;
    line-height: 1.35;
    margin: 11px 0 26px;
}

.moreBtn {
    font-size: 18px;
    padding: 7px 24px;
    height: 46px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border-color: #ccc;
    display: inline-block;
    position: relative;
    margin: 0;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: baseline;
}

.moreBtn:hover {
    color: white;
    text-decoration: none;
}